name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Create css directory 
        run: mkdir css

      - name: Sass Build
        uses: gha-utilities/sass-build@v0.3.7
        with:
          source: scss/style.scss
          destination: css/style.css
